@font-face {
    font-family: sansita;
    src: url(sansation_light.woff);
}

/*
Color From Original Site
Lighter Green #d9f2d9
Middle Green #779200
Darker Green #27512f
*/

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}

/* Header Navigation */

.navbar {
    width: 100%;
  height:70px;
  margin:0 !important;
  background:#69F0AE /*#d9f2d9*/ !important;
}

.navbar-brand {
  width:auto !important;
}

.navLogo {
    display: inline!important;
}

.navBrandText {
  color:#fff;
    display: inline;
  font-size: 30px;
  text-shadow: 1px 1px #d3d3d3;
  font-family: sansita;
}

.fb-widget {
  float:right;
}

/* Main Body */
.center-div{
  display:block;
  margin:0 auto;
}

#hero{
  background:red;
}

.hero-img {
  width:100%;
  height:100%;
  display:inline-block;
}

.arrow-div{
  position:absolute;
  margin-top:30%;
  width:95%;
}

.arrow{
  color:#fff;
  background: #000;
  width:50px;
  height:50px;
  z-index: 1;
}

#left-arrow{
  float:left;
}

#right-arrow{
  float:right;
}

/* Footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: #27512f !important;
  padding: 20px 0;
}

.footer p {
  color:#fff;
  font-size:16px;
}
